.productCard {
  border: 1px solid rgba(128, 128, 128, 0.367);
}
.productContent {
  padding: 16px 5px 16px 16px;
}

.productContent p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-700);
  text-transform: capitalize;
}

.productContent h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
}

.addToCartBtn {
  width: 40px;
  height: 40px;
  color: #000;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.367);
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.productCard{
    position: relative;
}
.productCard .label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
  background: var(--branding-error);
  border-radius: 4px;
  padding: 3px 8px;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 16px;
}
